.perf :global(#document) {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em 0;
}

.perf :global(#headers) {
    margin: 2em 0;
}

.perf :global(.header) {
    font-style: italic;
    font-size: 0.8em;
    text-decoration: underline;
    margin: 0.5em;
}

.perf :global(.header:before) {
    content: attr(id)':\0000a0';
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
}

.perf :global(.section) {
    width: 100%;
}

.perf :global(.section .expand) {
    text-decoration: underline;
}

.perf :global(.title),
.perf :global(.introduction) {
    text-align: center;
}

.perf :global(.title),
.perf :global(.paragraph.mt),
.perf :global(.graft.title),
.perf :global(div[type="title"] .paragraph) {
    font-weight: 700;
    font-size: 2em;
    margin: 0.5em 0;
}

.perf :global(.introduction),
.perf :global(div[type="introduction"] .paragraph) {
    font-size: 1.5em;
    margin: 0.5em 0em;
}

.perf :global(.heading),
.perf :global(div[type="heading"] .paragraph) {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    padding: 0.5em 0.2em 0.25em;
}

.perf :global(.heading p.s) {
    font-size: 1.2em;
}

.perf :global(.heading p.r) {
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.25em 0.2em;
}

.perf :global(.paragraph) {
    padding: 0.5em 0.2em;
    margin: 0;
}

.perf :global(.paragraph span.graft) {
    font-weight: 100;
    font-size: 0.75em;
    vertical-align: super;
    color: blue;
}

.perf :global(.graft:before) {
    content: ' ' attr(data-previewText);
}

.perf :global(.chapter) {
    font-size: 2.2em;
    color: initial;
    float: left;
    margin-right: 0.1em;
    line-height: 1.0em;
}

.perf :global(.rtl .chapter) {
    float: right;
}

.perf :global(.verses) {
    font-size: 0.8em;
    font-weight: 600;
    vertical-align: super;
}

.perf :global(.q),
.perf :global(.q2),
.perf :global(.q3),
.perf :global(.q4) {
    font-style: italic;
}

.perf :global(.q) {
    padding: 0.1em 1em;
}

.perf :global(.q2) {
    padding: 0.1em 2em;
}

.perf :global(.q3) {
    padding: 0.1em 3em;
}

.perf :global(.q4) {
    padding: 0.1em 4em;
}

.perf :global(span.verses:after) {
    content: ' ';
}

.perf :global(.preview span.graft:before) {
    content: ' ✝';
}

.perf :global(.preview #headers) {
    display: none;
}
